/* /////////////////////////////////
	FORMS
///////////////////////////////// */

button {
	display: inline-block;
	font-size: 24px;
	font-weight: normal;
	letter-spacing: 1px;
	min-width: 219px;
}

form {
  font-size: 20px;
	margin: -30px auto;
	max-width: 1000px;
	text-align: center;
	@extend .clearfix;
	li.fields {
		margin: 0 -13px 20px;
		fieldset {
			padding: 0 13px;
			width: 100%;
			@extend .box-sizing;
			&.half {
				width: 50%;
			}
		}
	}
	ul {
		padding: 30px 30px 10px;
	}
}

.form-messages {
	display: none;
	margin: 10px 0 10px -20px;
	&.error {
		text-align: center;
	}
	&.success {
		text-align: center;
		color: green;
	}
}


fieldset {
	@extend .clearfix;
}

.fields {
	@extend .clearfix;
}

form label {
	display: block;
	margin-bottom: 10px;
}

input[type=text],
input[type=password],
input[type=search],
input[type=email],
input[type=tel],
textarea {
	font: normal 18px $font-stack;
	color: $text-color;
	background: #ededed;
	border: solid 1px #ececec;
	padding: 25px 20px;
	width: 100%;
	@extend .box-sizing;
	@include transition(all);
	&.error, &.error:hover, &.error:focus {
		border-color: darken(#ef7158, 5%);
	}
	&:hover {
		border-color: darken(#e9e9e9, 4%);
	}
	&:focus {
		border-color: #d7d7d7;
		@include box-shadow(0px,2px,4px,rgba(0,0,0,0.06));
	}
	&.score {
		max-width: 49px;
	}
}

textarea {
	width: 100%;
	height: 146px;
	max-height: 246px;
}
