.chocolat-zoomable.chocolat-zoomed .chocolat-img{
  cursor: zoom-out;
}

.chocolat-open{
  overflow: hidden;
}

.chocolat-overlay{
  height: 100%;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
  background-color: rgba(255,255,255,0.9);
  display: none;
}

.chocolat-wrapper{
  height:100%;
  width:100%;
  padding: 100px 0;
  position:fixed;
  left:0;
  top:0;
  z-index:16;
  color: #fff;
  z-index: 9000;
  @extend .box-sizing;
}

.chocolat-zoomable .chocolat-img {
  cursor: zoom-in;
}

.chocolat-loader{
  height:32px;
  width:32px;
  position:absolute;
  left:50%;
  top:50% ;
  margin-left:-16px;
  margin-top:-16px;
  z-index:11;
  background:url(../images/loader.gif);
  display:none;
}

.chocolat-content{
  position:fixed;
  width:0px;
  height:0px;
  left:50%;
  top:50%;
  z-index:14;
  text-align: left;
  img {
    box-shadow: 0 0 37px rgba(0,0,0,0.3);
  }
}

.chocolat-content .chocolat-img{
  position:absolute;
  height:100%;
  width: 100%;
}

.chocolat-wrapper .chocolat-left{
  position:absolute;
  left:0;
  width:50px;
  height:100px;
  top: 50%;
  margin-top: -50px;
  cursor:pointer;
  z-index: 17;
  display: none;
}

.chocolat-wrapper .chocolat-right{
  position:absolute;
  right:0;
  width:50px;
  height:100px;
  top: 50%;
  margin-top: -50px;
  cursor:pointer;
  background:url(../images/right.png)  50% 50% no-repeat;
  z-index: 17;
  display: none;
}

.chocolat-wrapper .chocolat-right.active{
  display: block;
}

.chocolat-wrapper .chocolat-left.active{
  display: block;
}

.chocolat-wrapper .chocolat-top{
  position:absolute;
  top:0px;
  right: 0;
  left: 0;
  line-height:50px;
  height:50px;
  overflow: hidden;
  z-index: 17;
  margin-bottom: 10px;
}

.chocolat-wrapper .chocolat-close{
  width:50px;
  height:50px;
  cursor:pointer;
  position: absolute;
  top: 0;
  right: 0;
  background:url(../images/close.png) 50% 50% no-repeat;
}

.chocolat-wrapper .chocolat-bottom{
  position:absolute;
  bottom:0;
  left: 0;
  right: 0;
  line-height:40px;
  height:40px;
  font-size:12px;
  z-index: 17;
  padding: 10px 15px;
  background: rgba(0, 0, 0, 0.5);
  text-align: right;
  margin-top: 10px;
}

.chocolat-wrapper .chocolat-set-title{
  display: inline-block;
  padding-right: 15px;
  line-height: 1;
  border-right: 1px solid rgba(255, 255, 255, 0.3);
}

.chocolat-wrapper .chocolat-pagination{
  float: right;
  display: inline-block;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: 15px;
}

.chocolat-wrapper .chocolat-fullscreen{
  width: 16px;
  height: 40px;
  background: url(../images/fullscreen.png) 50% 50% no-repeat;
  display: block;
  margin:auto;
  cursor: pointer;
  float: right;
}

.chocolat-wrapper .chocolat-description{
  display: inline-block;
  color: #fff;
  font: normal 22px/40px $font-stack-alt;
  a, a:link, a:visited {
    color: #fff;
  }
  span {
    background: #5dcfd9;
    font: normal 20px/43px $font-stack-alt;
    margin-left: 20px;
    padding: 10px 12px;
    height: 43px;
    line-height: 43px;
    &:hover {
      background: darken(#5dcfd9, 6%);
    }
  }
}

/* compact view */
.chocolat-cover .chocolat-content {
  .chocolat-left,
  .chocolat-right {
    height: 100%;
    top: 0;
    padding: 0px;
    position: fixed;
  }
}

.chocolat-cover .chocolat-content .chocolat-right{
  right: 0px;
  background:url(../images/right-compact.png) 100% 50% no-repeat;
}

.chocolat-cover .chocolat-content .chocolat-left{
  left: 0;
  background: url(../images/left-compact.png) 0% 50% no-repeat;
}

.chocolat-cover .chocolat-content .chocolat-top{
  top: 0;
  left: 0;
  position: fixed;
  z-index: 1;
}

.chocolat-cover .chocolat-content .chocolat-close{
  background: url(../images/close-compact.png) 0% center no-repeat;
}

.chocolat-cover .chocolat-content .chocolat-bottom{
  bottom: 0;
  left: 0;
  position: fixed;
  background: rgba(255,255,255,0.75);
  z-index: 1;
}

.chocolat-cover .chocolat-content .chocolat-pagination,
.chocolat-cover .chocolat-content .chocolat-description{
  padding: 0 10px;
}

/* no container mode*/
body.chocolat-open>.chocolat-overlay{
  z-index:15;
}
body.chocolat-open>.chocolat-loader{
  z-index:15;
}
body.chocolat-open>.chocolat-content{
  z-index:17;
}

/* container mode*/
.chocolat-in-container .chocolat-wrapper,
.chocolat-in-container .chocolat-content,
.chocolat-in-container .chocolat-overlay{
    position: absolute;
}
.chocolat-in-container{
    position: relative;
}

/* uncomment to hide controls when zoomed-in*/
/*
.chocolat-zoomable .chocolat-top,
.chocolat-zoomable .chocolat-bottom,
.chocolat-zoomable .chocolat-right,
.chocolat-zoomable .chocolat-left {
    transition: opacity .3s ease, visibility 0s .3s;
   opacity: 1;
}

.chocolat-zoomable.chocolat-zoomed .chocolat-top,
.chocolat-zoomable.chocolat-zoomed .chocolat-bottom,
.chocolat-zoomable.chocolat-zoomed .chocolat-right,
.chocolat-zoomable.chocolat-zoomed .chocolat-left {
    visibility: hidden;
    opacity: 0;
}
*/