/* /////////////////////////////////
	CONTENT 
///////////////////////////////// */

// all styles for content here

.section, .page-row {
	padding: 0 20px;
	@extend .box-sizing;
}

.page-row, .footer {
	position: relative;
	z-index: 5000;
}

.section0 {
	.fp-tableCell {
		vertical-align: middle;
	}
}

.fullpage {
	z-index: 3000;
}

.section0 {
	background: transparent;
	color: $invert-color;
  // min-height: 720px;
  height: 100vh;
	position: relative;
	&.active .intro {
		opacity: 1;
		@include transition(opacity, 1.5s, ease, 0s);
	}
	.intro-border {
		left: 50%;
    top: 50%;
		position: relative;
		text-align: center;
		vertical-align: middle;
		z-index: 5000;
    // animation
		-webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
	   -moz-animation: fadein 2s; /* Firefox < 16 */
	    -ms-animation: fadein 2s; /* Internet Explorer */
	     -o-animation: fadein 2s; /* Opera < 12.1 */
	        animation: fadein 2s;
    max-width: 420px;
    height: 420px;
    padding: 0;
    box-shadow: inset 0 0 0 10px #fff;
    transform: translate(-50%, -50%);
    @include transition(opacity, 1.5s, ease, 0s);
    .intro {
      padding-top: 10px;
      height: 100%;
      @extend .box-sizing;
    }
    $anime-time: 20s;
    $box-size: 420px;
    $clip-distance: .02;
    $clip-size: $box-size * (1 + $clip-distance * 2);
    $path-width: 2px;
    &::before,
    &::after {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      content: '';
      z-index: -1;
      margin: -1 * $clip-distance * 100%;
      box-shadow: inset 0 0 0 $path-width rgba(255,255,255,0.5); 
      animation: clipMe $anime-time linear infinite;
    }
    &::before {
      animation-delay: $anime-time * -.5;
    }
    @keyframes clipMe {
      0%, 100% {clip: rect(0px, $clip-size, $path-width, 0px); }
      25% {clip: rect(0px, $path-width, $clip-size, 0px); }
      50% {clip: rect($clip-size - $path-width, $clip-size, $clip-size, 0px); }
      75% {clip: rect(0px, $clip-size, $clip-size, $clip-size - $path-width); }
    }
    h2, h3 {
    	color: $invert-color;
    }
		h2 {
			font: normal 82px/53px $font-stack-alt;
			margin-bottom: 13px;
		}
    h3, h4 {
      white-space: nowrap;
      position: relative;
      left: 50%;
      display: inline-block;
      transform: translateX(-50%) skewY(-10deg);
    }
		h3 {
			font: normal 177px/142px  $font-stack-alt;
			&.blue {
				color: $accent-color;
			}
			&.size-2 {
				font: normal 138px/88px  $font-stack-alt;
			}
		}
		h4 {
			background:  url(../images/icon-arrow.png) no-repeat bottom center;
			bottom: -120px;
			border-top: 2px solid rgba(255,255,255,0.5);
			display: inline-block;
			font: normal 17px/20px $font-stack;
			left: 50%;
			padding-bottom: 13px;
			padding-top: 10px;
			position: absolute;
			text-transform: uppercase;
			-webkit-transform: translateX(-50%);
			-moz-transform: translateX(-50%);
			transform: translateX(-50%);
      a {
        color: #ffffff;
      }
		}
    a:hover {
      h3, h4 {
        // color: $accent-color;
      }
    }
	}
	span.overlay {
		position: absolute; 
		right: 0; 
		bottom: 0;
		width: 100%;
		height: 100%;
		background: rgba(0,0,0,0.1);
		z-index: 2000;
	}
}

// arrow bounce
.arrow {
  position: fixed;
  bottom: 10px;
  left: 50%;
  margin-left:-20px;
  z-index: 5000;
  content: '';
  vertical-align: middle;
  @include sprite('arrow');
}

.bounce {
  -webkit-animation: bounce 3s infinite; /* Safari, Chrome and Opera > 12.1 */
     -moz-animation: bounce 3s infinite; /* Firefox < 16 */
      -ms-animation: bounce 3s infinite; /* Internet Explorer */
       -o-animation: bounce 3s infinite; /* Opera < 12.1 */
          animation: bounce 3s infinite;
}

@include keyframes(bounce) {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-15px);
  }
}

/* Animation */

/* Chrome, Safari, Opera */
@-webkit-keyframes movement {
	from {bottom: -100px;}
	30%  {bottom: -105px;}
	60%  {bottom: -105px;}
	to {bottom: -100px;}
}

/* Standard syntax */
@keyframes movement {
	from {bottom: -100px;}
	30%  {bottom: -105px;}
	60%  {bottom: -105px;}
	to {bottom: -100px;}
}

.content {
	margin: 0 auto;
	max-width: 700px;
}

form {
	label.error {
		color: darken(#ef7158, 5%);
		margin-top: 10px;
		text-align: left;
	}
  ul {
    margin: 0;
  }
}

ul.contact {
	text-align: center;
	li {
		display: inline-block;
		margin: 0 10px;

		a {
			color: $text-color;
		}
	}
}

img.thumb {
	margin: 0 auto;
	width: 90px;
	@include border-radius(100px);
	&.award {
		border: 2px solid gold;
	}
}

.bio {
  p {
    font-size: 38px;
    line-height: 40px;
    padding: 0 100px;
  }
  .center {
    padding-bottom: 0;
  }
  .full-img {
    background: transparent url(../images/mockup.jpg) no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    margin: 60px -20px 0;
    img {
      display: block;
      width: 100%;
    }
  }
  .skills {
    margin-bottom: 20px;
    > div {
      background-color: $link-color;
      -webkit-border-radius: 30px;
      border-radius: 30px;
      color: #fff;
      display: inline-block;
      font-size: 15px;
      letter-spacing: 1.5px;
      margin: 2px 0;
      padding: 5px 20px;
      text-transform: uppercase;
    }
  }
}
.join {
  position: relative;
}
.year {
  display: block;
  position: absolute;
  width: 200px;
  height: 180px;
  opacity: 0;
  left: 100%;
  top: -400px;
  margin: 50px 0 154px;
  text-align: center;
  font: 40px/180px Arial, sans-serif;
  color: #fff;
  background: #C91F2C;
  z-index: -1;
  -webkit-transition: top 0.5s ease 0.2s, opacity 0.3s ease 0.2s;
  -moz-transition: top 0.5s ease 0.2s, opacity 0.3s ease 0.2s;
  -ms-transition: top 0.5s ease 0.2s, opacity 0.3s ease 0.2s; /* IE10 is actually unprefixed */
  -o-transition: top 0.5s ease 0.2s, opacity 0.3s ease 0.2s;
  transition: top 0.5s ease 0.2s, opacity 0.3s ease 0.2s;
  .darkHeader & {
    top: -295px;
    opacity: 1;
    -webkit-transition: top 0.5s ease 0.2s, opacity 0.3s ease 0.2s;
    -moz-transition: top 0.5s ease 0.2s, opacity 0.3s ease 0.2s;
    -ms-transition: top 0.5s ease 0.2s, opacity 0.3s ease 0.2s; /* IE10 is actually unprefixed */
    -o-transition: top 0.5s ease 0.2s, opacity 0.3s ease 0.2s;
    transition: top 0.5s ease 0.2s, opacity 0.3s ease 0.2s;
  }
  &:before {
    content: "";
    position: absolute;
    bottom: -100px;
    right: 0;
    border-width: 0 0 100px 140px;
    border-style: solid;
    border-color: transparent #C91F2C;
    z-index: -1;
  }
  &:after {
    content: "";
    position: absolute;
    bottom: -140px;
    right: 70px;
    border-width: 0 0 140px 70px;
    border-style: solid;
    border-color: transparent #fff;
    z-index: -1;
  }
}
.products {
  .intro {
    max-width: 960px;
    margin: 0 auto;

    p {
      font-size: 22px;
    }
  }
}
.sets {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 60px 0 0;
  h3 {
    font-size: 24px;
  }
  .collection {
    padding: 0 10px;
    width: 50%;
    @extend .box-sizing;
    img {
      margin-bottom: 20px;
      max-width: 100%;
      // max-width: 400px;
    }
  }
}

.work {
	ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
		margin: 0;
		@extend .clearfix;
		li {
			margin-bottom: 20px;
			padding: 0 10px;
			width: 33%;
			@extend .box-sizing;
			.wrapper {
				display: block;
				opacity: 1;
				overflow: hidden;
				position: relative;
        box-shadow: 0 0 23px rgba(0,0,0,0.2);
        @media all and (min-width: 999px) {
  				&:hover {
  					@include box-shadow(1px, 1px, 5px, rgba(0,0,0,0.1));
            .control {
              opacity: 1;
            }
  					.overlay {
  						background: rgba(255,255,255,0.9);
  						@include transition(background);
  					}
  					.textleft {
  						left: 0;
  						@include transition(left, 0.1s, ease, 0s);
  					}
  					.textright {
  						right: 0;
  						@include transition(right, 0.1s, ease, 0s);
  					}
  				}
  				.overlay {
  					bottom: 0;
  					left: 0;
  					position: absolute;					
  					right: 0;
  					top: 0;
  				}	
  				.textleft, .textright {
  					color: $text-color;
  					display: block;
  					font: normal 30px/32px $font-stack-alt;
  					position: absolute;
  					text-align: center;
  					top: 50%;
  					width: 100%;
  					z-index: 4000;
  					-webkit-transform: translateY(-50%);
  					-moz-transform: translateY(-50%);
  					transform: translateY(-50%);
  				}
  				.textleft {
  					left: -100%;
  					@include transition(left, 0.1s, ease, 0s);
  				}

  				.textright {
  					right: -100%;
  					@include transition(right, 0.1s, ease, 0s);
  				}
        }
        .control {
          left: 0;
          opacity: 0;
          right: 0;
          top: 50%;
          position: absolute;
          padding-top: 120px;
          text-align: center;
          -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
          .ico-website {
            background: $link-color url(../images/ico-web.svg) no-repeat center center;
            border-radius: 30px;
            cursor: pointer;
            display: inline-block;
            height: 50px;
            width: 50px;

            &:hover {
              background-color: darken($link-color, 20%);
            }
          }
          .ico-view {
            background: $link-color url(../images/ico-preview.svg) no-repeat center center;
            border-radius: 30px;
            cursor: pointer;
            display: inline-block;
            height: 50px;
            width: 50px;
            &:hover {
              background-color: darken($link-color, 20%);
            }
          }
        }
			}
			img {
				display: block;
				width: 100%;
			}
		}
	}
}

video.bgvid {
	position: fixed; 
	right: 0; 
	bottom: 0;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	top: 0;
	z-index: 0;
}

// preloader
.preloader {
  background: #fff;
  left: 0;
  height: 100vh;
  min-height: 720px;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 400;
  @media only screen and (max-width: 1024px) {
    display: none;
  }
}

.spinner {
  margin: 0 auto;
  position: relative;
  text-align: center;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 70px;
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #999;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: bounce delay 1.4s infinite ease-in-out;
  animation: bouncedelay 1.4s infinite ease-in-out;
  /* Prevent first frame from flickering when animation starts */
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0.0); }
  40% { -webkit-transform: scale(1.0); }
}

@keyframes bouncedelay {
  0%, 80%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 40% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}

/* /////////////////////////////////
	FOOTER
///////////////////////////////// */
.footer {
	background: $bg-light;
	padding: 50px 20px;
	text-align: center;
  p {
    font-size: 16px;
  }
  .follow-us {
    display: none;
    a {
      display: inline-block;
      margin: 5px 10px 15px;
      float: none;
    }
  }
}

