/* /////////////////////////////////
	LAYOUT
///////////////////////////////// */

body {
	font: normal $font-size-height $font-stack;
	color: $text-color;
	background: #f4f4f4;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.center {
	margin: 0 auto;
	padding: 90px 0;
	max-width: 1600px;
	@extend .clearfix;
	&.top-1 {
		margin-top: -1px;
	}
	&.titlebar {
		padding: 0;
	}
	&.transparent {
		background: transparent;
		border: 0;
	}
}

.a-center {
	text-align: center;
}

.left {
	float: left;
}

.right {
	float: right;
}

.clear { 
	clear: both; 
	height: 0; 
	line-height: 0px;
	font-size: 0px;
	text-indent: -1000em;
}

.section, .page-row {
	background: #fff;
	&.grey-bg {
		background: #f4f4f4;
	}
}

/* General Layout */

.row {
	padding: 0 48px;
	@extend .clearfix;
}

.columns {
	margin: 0 -25px;
	@extend .clearfix;
}

.large-1 {
	width: 79.18%;//750px;
	padding: 0px 25px 0 25px;
	@extend .box-sizing;
}

.large-2 {
	width: 510px;
	padding: 0px 25px 0 25px;
	@extend .box-sizing;
}

table {
	width: 100%;
}

/* for elements with content replaced by background image -
	apply this class and then the element only needs height, width, and background image */

.ir { 
	display: block;
	background-color: transparent;
  border: 0;
	overflow: hidden;
	text-indent: -1000em;
}

.hidden {
	display: none !important;
  visibility: hidden;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* use .clearfix to clear containers with floats inside */
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }

.box-sizing {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}